root = true # 최상위 위치 설정

[*] # 모든 파일에 적용
indent_style = tab # 탭 스타일 사용
indent_size = 2 # 탭 너비 설정
charset = utf-8 # 인코딩 설정
trim_trailing_whitespace = true # 줄 끝에 불필요한 공백 제거
insert_final_newline = true # 파일 끝에 새 줄 추가
end_of_line = lf # 줄 바꿈 스타일 (Unix 방식)